<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<p>Mariza</p>

<p>Video title: {{video.title}}</p>
<p>Views: {{video.views}}</p>
<p>Liked: {{video.liked}}</p>

<button (click)="handleClick()">Console log me</button>

<ul>
  <li *ngFor="let video of videos">
    Name: {{video.name}}
    Liked: {{video.liked}}
    {{video.name}}
  </li>
</ul>

<p *ngIf="isShown">This should be hidden or shown</p>
